{% extends "registration/base_reg.html" %}
{% load static %}

{% block title %}Ingresar{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/auth.css' %}">
{% endblock %}

{% block content %}
<!-- Botón de inicio -->
<class="register-home-button">
    <a href="{% url 'index' %}" class="register-home-button">
        <i class="fas fa-home"></i> Página de inicio
    </a>
    
<h1>Ingresar con tu cuenta</h1>

{{msg}}
<form action="" method="post">
    {% csrf_token %}
    <div class="container-login">
    <p> Nombre de usuario:  </p>
    {{ form.username }}
    <p> Contraseña: </p>
    {{ form.password }}
    <button type="submit" class="ingresar-btn">Ingresar</button>
    </div>
</form>
<br>
<a href="{% url 'password_reset' %}" class="reset">¿Olvidaste tu contraseña?</a>
{% endblock content %}