{% extends "registration/base_reg.html" %}
{% load static %}

{% block styles%}
    <link rel="stylesheet" href="{% static 'auth.css' %}">
{% endblock %}

{% block title %}Password Done{% endblock title%}

{% block content%}
<h1>Gracias</h1>

<h3>Dentro de poco deberias recibir un correo con la información necesaria para cambiar tu contraseña</h3>
<h3>Puedes devolverte a la pagina de inicio de sesión a partir de este link:</h3>
<br>
<a href="{% url 'login' %}" class="tologin">Inicio de sesión</a>
{% endblock%}