{% extends "registration/base_reg.html" %}
{% load static %}

{% block title %}New Password{% endblock title %}

{% block styles %}
    <link rel=s"tylesheet" href="{% static 'styles/auth.css'%}">
{% endblock %}

{% block content %}
{% if validlink %}
    <h1>Crea una nueva contraseña</h1>
    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Send</button>
    </form>
{% else %}
    <h1>Crea una nueva contraseña</h1>
    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Send</button>
    </form>
{% endif %}
{% endblock %}