{% extends "registration/base_reg.html" %}
{% load static %}

{% block title %}Reset Password{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/auth.css' %}">
{% endblock %}

{% block content %}
<h1>Olvidaste tu contraseña?</h1>
<div class="container-email">
<p>Ingresa el correo de tu cuenta:</p>

<form method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit" class="ingresar-btn">Send</button>
</form>
</div>
{% endblock content %}