{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Index</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
{% endblock styles %}

{% block content %}
    <h1> Nombre del Proyecto </h1>
    <div>
        <h2>Info sobre la app</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum nisi aliquid minus. Incidunt quas perspiciatis laboriosam eum, rerum at ipsum veritatis natus facilis amet mollitia quia reiciendis, architecto est? Delectus aliquid voluptas laboriosam vel ad unde iure facilis nulla repellendus hic commodi suscipit, fugit natus alias quidem. Architecto, perspiciatis ipsam!</p>
    </div>
    <div>
        <h3>Pruebela</h3>
        <ul>
            <li>
                <a href="{% url "home" %}">Entrar como invitado</a>
            </li>
        </ul>
        <h3>Ingrese con su cuenta propia y registre alergias</h3>
        <ul>
            <li>
                <a href="{% url "login" %}">Iniciar sesion</a>
            </li>
            <li>
                <a href="{% url "signup" %}">Registrarse</a>
            </li>
        </ul>
    </div>
{% endblock content %}