{% extends "base.html" %}
{% load static %}

{% block title %}Index{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
{% endblock styles %}

{% block content %}
    <div class="heading">
        <div> <p><img src="/static/images/logo.jpg" Alt="Logo AllergEat" class="logo"></p> </div>
        <div class="inicios">
            <a href="{% url 'home' %}" class="guest"> Entrar como invitado </a>
            <a href="{% url 'login' %}" class="login"> Iniciar sesión </a>
            <a href="{% url 'signup' %}" class="signup"> Registrate </a>  
        </div>
    </div>
        
    </div>
    <div class="grid">
        <div class="info">
        <h1> AllergEat </h1>
        <h2> ¿Qué es AllergEat? </h2>
        <p> AllergEat es una plataforma diseñada para facilitar la vida de las personas con alergias alimentarias. Nuestra misión es proporcionar información precisa y accesible sobre ingredientes y productos alimenticios, ayudando a los usuarios a tomar decisiones informadas y seguras al momento de elegir sus alimentos. </p>
        </div>
        <div class="image">
            <img src="/static/images/logo-penca-pa-poner-algo.png" alt="Imagen AllergEat" class="image A">
        </div>
    </div>
    <div class="enter">
        <div>
            <img src="/static/images/imagen-index.webp" alt="Imagen Seguro" class="image b">
        </div>
        <div text-enter>
        <p> 
            Si eres una persona con alergias alimentarias, AllergEat es la herramienta perfecta para ti.
            Prueba AllergEat como invitado para hacer una visita rápida: podrás buscar productos, ver ingredientes y marcar 
            elementos, pero estas marcas serán temporales. Si sólo quieres evaluar la plataforma o realizar una búsqueda 
            puntual, esta es la forma más fácil.
        </p>
        <p>
            Sin embargo, para una experiencia completa y personalizada, te recomendamos registrarte. Al crear una cuenta, 
            podrás guardar tus alergias, gestionar tus productos favoritos y acceder a todas las funcionalidades que AllergEat tiene para ofrecerte.
        </p>
        </div>     
    </div>  
    <div class="container-buttons">
        <div class="buttons">
            <p>
                Puedes entrar como invitado o iniciar sesión/registrarte para una experiencia personalizada.
            </p>
            <a href="{% url 'home' %}" class="guest"> Entrar como invitado </a>
            <a href="{% url 'login' %}" class="login"> Iniciar sesión </a>
            <a href="{% url 'signup' %}" class="signup"> Registrate </a>  
        </div>
    </div>      
{% endblock content %}