{% extends "base.html" %}
{% load static %}

{% block title %}Index{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
{% endblock styles %}

{% block content %}
    <div class="grid">
        <div class="info">
        <h1> AllergEat </h1>
        <h2> ¿Qué es AllergEat? </h2>
        <p> AllergEat es una plataforma diseñada para facilitar la vida de las personas con alergias alimentarias. Nuestra misión es proporcionar información precisa y accesible sobre ingredientes y productos alimenticios, ayudando a los usuarios a tomar decisiones informadas y seguras al momento de elegir sus alimentos. </p>
        </div>
        <div class="enter">
            <p> Puedes </p>
            <a href="{% url 'home' %}" class="guest"> Entrar como invitado </a>
            <p> Para ingresar sin iniciar sesión
                o bien puedes
            </p>
            <a href="{% url 'login' %}" class="login"> Iniciar sesión </a>
            <p> para mantener tus alergias guardadas cada vez que entres a la plataforma</p>
            <a href="{% url 'signup' %}" class="signup"> Registrate </a>
            <p> si aún no tienes una cuenta</p>
            
        </div>      
    </div>
{% endblock content %}