{% extends "base.html" %}

{% block title %}Producto - {{product.name}} {% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
    <a href="{% url 'view_favorites' %}" style="text-decoration: none; margin-bottom: 15px; display: inline-block;">
        Ir a Mis Favoritos
    </a>
    {% endif %}

    <h1>{{ product.name }}</h1>
    <img src="{{ product.photo.url }}">
    <p><strong>Descripción:</strong></p>
    <p>    
        {% for ingredient in ingredients %}
            {{ingredient.name}} {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    {% if user.is_authenticated %}
    <form action="{% url 'add_to_favorites' product.id %}" method="POST" style="display: inline;">
    {% csrf_token %}
    
    {% if product in user.favorite_products.all %}
        <button type="submit" class="btn btn-danger">
            Quitar de Favoritos 💔
        </button>
    {% else %}
        <button type="submit" class="btn btn-primary">
            Añadir a Favoritos ❤️
        </button>
    {% endif %}
</form>
    <br>-
    
    {% endif %}
    <a href="{% url 'home' %}{{ query }}">Volver</a>
{% endblock content %}